<h1>Mechanic <%= @mechanic.name %></h1>

<p>Years of experience: <%= @mechanic.years_experience%></p>

<h3>Open rides that <%= @mechanic.name %> works on:</h3>
<% @mechanic.rides.order_by_rating_descending.each do |ride| %>
  <% if ride.open %>
    <%= ride.name %>
  <% end %>
<% end %>

<h3>Add a ride to this mechanic's workload</h3>
<%= form_with url: mechanic_rides_path, method: :post, local: true do |f| %>
  <%= f.label :ride_id, "Ride ID" %>
  <%= f.number_field :ride_id %>
  <%= f.hidden_field :mechanic_id, value: @mechanic.id %>
  <%= f.submit "Add Ride" %>
<% end %>
